# Handeling Categorical Data

In [60]:
import pandas as pd
import numpy as np

In [61]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 10)

## One Hot Encoding Using Pandas

In [62]:
uncleaned_ml_pos=pd.read_csv("uncleaned_ml_pos.csv")
uncleaned_ml_neg=pd.read_csv("uncleaned_ml_neg.csv")

In [67]:
uncleaned_ml_pos.shape

(241, 16)

In [64]:
uncleaned_ml_neg.shape

(2411, 16)

In [65]:
print("Uncleaned_ml_pos.shape=",uncleaned_ml_pos.shape)
print("Uncleaned_ml_neg.shape=",uncleaned_ml_neg.shape)

Uncleaned_ml_pos.shape= (241, 16)
Uncleaned_ml_neg.shape= (2411, 16)

One hot Encoding

In [52]:
pd.get_dummies(uncleaned_ml_pos,columns=['Lake_type_simplified','is_supraglacial','glacier_contact'])

,Longitude,Latitude,Year_final,Lake_area_calculated_ha,Elevation_m,glacier_area_ha,slope_glac_to_lake,glacier_touch_count,nearest_glacier_dist_m,glacier_elev_m,5y_expansion_rate,10y_expansion_rate,GLOF,Lake_type_simplified_ice,Lake_type_simplified_moraine,Lake_type_simplified_other,is_supraglacial_0,is_supraglacial_1,glacier_contact_0,glacier_contact_1
0,72.901,36.412,2019,19.373351,4256,735.527880,0.000000,4,0.000000,4706.0,-20.935474,0.925453,0,False,True,False,True,False,False,True
1,73.048,36.263,2019,18.463383,4618,12.913846,0.386765,0,726.539168,4899.0,-0.014481,-2.158693,0,False,False,True,True,False,True,False
2,73.407,36.642,2019,14.050228,2748,4204.096644,0.000000,3,0.000000,4413.0,0.417908,-4.397514,0,False,True,False,True,False,False,True
3,73.384,36.131,2019,8.558558,4503,12.377344,0.291547,0,607.107220,4681.0,-0.116048,0.115870,0,False,False,True,True,False,True,False
4,73.423,36.116,2019,11.896605,4437,31.006463,0.456346,0,703.413916,4764.0,-0.551315,-1.320284,0,False,False,True,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2406,97.131,27.948,2019,8.804308,3819,NaN,NaN,0,NaN,NaN,-0.650407,NaN,0,False,False,True,True,False,True,False
2407,97.316,27.994,2019,5.550490,4270,1.836153,0.077706,0,4890.214341,4650.0,0.681917,0.919823,0,False,False,True,True,False,True,False
2408,97.369,27.989,2019,8.643035,4188,NaN,NaN,0,NaN,NaN,-5.661737,1.411411,0,False,False,True,True,False,True,False
2409,97.358,27.893,2019,21.590730,3931,NaN,NaN,0,NaN,NaN,0.111127,4.016512,0,False,False,True,True,False,True,False
2410,97.360,27.879,2019,21.590730,4158,NaN,NaN,0,NaN,NaN,0.111127,4.016512,0,False,False,True,True,False,True,False

In [ ]:
K-1 One hot encoding

In [53]:
pd.get_dummies(uncleaned_ml_pos,columns=['Lake_type_simplified','is_supraglacial','glacier_contact'],drop_first=True)

,Longitude,Latitude,Year_final,Lake_area_calculated_ha,Elevation_m,glacier_area_ha,slope_glac_to_lake,glacier_touch_count,nearest_glacier_dist_m,glacier_elev_m,5y_expansion_rate,10y_expansion_rate,GLOF,Lake_type_simplified_moraine,Lake_type_simplified_other,is_supraglacial_1,glacier_contact_1
0,72.901,36.412,2019,19.373351,4256,735.527880,0.000000,4,0.000000,4706.0,-20.935474,0.925453,0,True,False,False,True
1,73.048,36.263,2019,18.463383,4618,12.913846,0.386765,0,726.539168,4899.0,-0.014481,-2.158693,0,False,True,False,False
2,73.407,36.642,2019,14.050228,2748,4204.096644,0.000000,3,0.000000,4413.0,0.417908,-4.397514,0,True,False,False,True
3,73.384,36.131,2019,8.558558,4503,12.377344,0.291547,0,607.107220,4681.0,-0.116048,0.115870,0,False,True,False,False
4,73.423,36.116,2019,11.896605,4437,31.006463,0.456346,0,703.413916,4764.0,-0.551315,-1.320284,0,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2406,97.131,27.948,2019,8.804308,3819,NaN,NaN,0,NaN,NaN,-0.650407,NaN,0,False,True,False,False
2407,97.316,27.994,2019,5.550490,4270,1.836153,0.077706,0,4890.214341,4650.0,0.681917,0.919823,0,False,True,False,False
2408,97.369,27.989,2019,8.643035,4188,NaN,NaN,0,NaN,NaN,-5.661737,1.411411,0,False,True,False,False
2409,97.358,27.893,2019,21.590730,3931,NaN,NaN,0,NaN,NaN,0.111127,4.016512,0,False,True,False,False
2410,97.360,27.879,2019,21.590730,4158,NaN,NaN,0,NaN,NaN,0.111127,4.016512,0,False,True,False,False

# One Hot Encoding using SKLearn

# Handeling Missing Data

In [68]:
uncleaned_ml_pos=pd.read_csv("uncleaned_ml_pos.csv")
uncleaned_ml_neg=pd.read_csv("uncleaned_ml_neg.csv")

In [70]:
uncleaned_ml_pos.isnull().mean()*100

Longitude                   0.000000
Latitude                    0.000000
Year_final                  0.000000
Lake_area_calculated_ha    24.896266
Elevation_m                 0.000000
                             ...
nearest_glacier_dist_m      0.829876
glacier_elev_m              0.829876
5y_expansion_rate          46.887967
10y_expansion_rate         60.165975
GLOF                        0.000000
Length: 16, dtype: float64

In [72]:
uncleaned_ml_neg.isnull().mean()*100

Longitude                   0.000000
Latitude                    0.000000
Year_final                  0.000000
Lake_area_calculated_ha     0.082953
Elevation_m                 0.000000
                             ...
nearest_glacier_dist_m     24.346744
glacier_elev_m             24.346744
5y_expansion_rate           0.082953
10y_expansion_rate          1.202820
GLOF                        0.000000
Length: 16, dtype: float64

In [73]:
uncleaned_ml_combined=pd.read_csv("uncleaned_ml_combined.csv")
uncleaned_ml_combined.isnull().mean()*100

Unnamed: 0                  0.000000
Longitude                   0.000000
Latitude                    0.000000
Year_final                  0.000000
Lake_area_calculated_ha     2.337858
                             ...
nearest_glacier_dist_m     22.209653
glacier_elev_m             22.209653
5y_expansion_rate           4.336350
10y_expansion_rate          6.561086
GLOF                        0.000000
Length: 17, dtype: float64